.logo_content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    transition: all 0.3s;
}

.logo_content a img{
    height: 50px;
    margin: 15px 40px;
}

.header{
    width: 300px;
    height: 100%;
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 9999;
    font-size: 14px;
    transition: all 0.3s;
}

.header .content{
    padding-top: 100px;
    background: #ffffff;
    border-left: 1px solid rgba(0, 0, 0, .06);
    height: 100%;
    box-sizing: border-box;
}

.header .content .nav li{
    line-height: 60px;
    padding: 0 0 0 50px;
    transition: all 0.3s;
    box-sizing: border-box;
}

.header .menu_btn{
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    z-index: 10000;
    position: absolute;
    top: 20px;
    left: -70px;
    transition: all 0.3s;
}

.header .menu_btn label{
    display: block;
    width: 14px;
    height: 2px;
    margin: 1px auto;
    background-color: #8d8d8d;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transition: all 0.3s;
}

.header .menu_btn label.lab1{
    margin-top: -5px;
}

.header .menu_btn label.lab2{
    margin-top: 0;
}

.header .menu_btn label.lab3{
    margin-top: 5px;
}

.on{
    right: 0;
}

.on .menu_btn{
    margin-left: 300px;
}

.on .menu_btn label.lab1{
    margin-top: 0;
    transform: rotate(45deg);
}
.on .menu_btn label.lab2{
    opacity: 0;
}
.on .menu_btn label.lab3{
    margin-top: 0;
    transform: rotate(-45deg);
}

.header .nav li:hover{
    background-color: black;
    color: #ffffff;
}

.menu_btn:hover{
    background-color: #262626;
}

.menu_btn:hover label{
    background-color: #ffffff;
}